SpellTemplates(
    spells: {
        "throwdagger": SpellTemplate(
            name: "throwdagger",
            cooldown: 1.5,
            spell_main_type: Projectile,
            projectile_type_struct: Some(SpellProjectileType(
                projectile_sprite: "dagger8x8",
                projectile_count: 1,
                projectile_pattern: Line,
                projectile_damage: 1,
                projectile_movespeed: 200.0,
                projectile_radius: 8.0,
                projectile_mass: 0.1,
                projectile_lifetime: 0.8,
                projectile_penetration: Some(0),
            ))
        ),
        "swordswing": SpellTemplate(
            name: "swordswing",
            cooldown: 2.4,
            spell_main_type: Swing,
            swing_type_struct: Some(SpellSwingType(
                swing_sprite: "sword.png",
                swing_damage: 1,
                swing_arc: 60.0,
                swing_length: 5.0,
            )),
        )
    }
)