SpellTemplates(
    spells: {
        "throwdagger": SpellTemplate(
            name: "Throw Dagger",
            cooldown: 1.5,
            spell_main_type: Projectile,
            projectile_type_struct: Some(SpellProjectileType(
                projectile_sprite: "dagger.png",
                projectile_count: 1,
                projectile_pattern: Line,
                projectile_damage: 1,
                projectile_movespeed: Some(20.0),
                projectile_radius: 8.0,
            ))
        ),
        "swordswing": SpellTemplate(
            name: "Sword Swing",
            cooldown: 2.4,
            spell_main_type: Swing,
            swing_type_struct: Some(SpellSwingType(
                swing_sprite: "sword.png",
                swing_damage: 1,
                swing_arc: 60.0,
                swing_length: 5.0,
            )),
        )
    }
)